In [1]:
# Data processing
import pandas as pd
import numpy as np

# Data Viz
from plotnine import *
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

In [2]:
# Read in the data
monthly_trade = pd.read_csv("monthly_trade.csv")
monthly_trade.shape

(4148, 16)

In [3]:
# Explore the data
monthly_trade.head()

,Year,Month,Product Name,Country Name,Volume (kg),Value (USD),Trade Type,Census Country Code,Edible code,FAO Country Code,HTS Number,RFMO,Trade Associations,US Customs District Code,US Customs District Name,Month number
0,2012,January,CATFISH (ICTALURUS) FROZEN,CHINA,"62,230","490,500",IMP,5700,E,156,303240010,CCAMLR,"APEC, CCAMLR, ICCAT",53,"HOUSTON-GALVESTON, TX",1
1,2012,January,CATFISH (PANGASIUS) FROZEN,VIETNAM,"46,720","106,061",IMP,5520,E,704,303240020,NaN,"APEC, ASEAN",27,"LOS ANGELES, CA",1
2,2012,January,CATFISH (PANGASIUS) FROZEN,VIETNAM,"9,117","19,969",IMP,5520,E,704,303240020,NaN,"APEC, ASEAN",52,"MIAMI, FL",1
3,2012,January,CATFISH (PANGASIUS) FILLET FRESH,VIETNAM,"4,798","10,049",IMP,5520,E,704,304320020,NaN,"APEC, ASEAN",7,"OGDENSBURG, NY",1
4,2012,January,"CARP,CATFISH,EELS,SNAKEHEAD MEAT FRESH",CANADA,472,"2,600",IMP,1220,E,124,304510090,NAFO,"APEC, ICCAT, NAFO, NAFTA, OECD",30,"SEATTLE, WA",1

In [4]:
# Reture the data type for each column
monthly_trade.dtypes

Year                         int64
Month                       object
Product Name                object
Country Name                object
Volume (kg)                 object
Value (USD)                 object
Trade Type                  object
Census Country Code          int64
Edible code                 object
FAO Country Code             int64
HTS Number                   int64
RFMO                        object
Trade Associations          object
US Customs District Code     int64
US Customs District Name    object
Month number                 int64
dtype: object

In [5]:
# Check unique values of Product Name
sorted(monthly_trade['Product Name'].unique())

['CARP,CATFISH,EELS,NILE PERCH,SNAKEHEAD,TILAPIA DRIED',
 'CARP,CATFISH,EELS,NILE PERCH,SNAKEHEAD,TILAPIA FILLET DRIED/SALTED/BRINE',
 'CARP,CATFISH,EELS,NILE PERCH,SNAKEHEAD,TILAPIA SALTED > 6.8 KG',
 'CARP,CATFISH,EELS,NILE PERCH,SNAKEHEAD,TILAPIA SALTED NOT > 6.8KG',
 'CARP,CATFISH,EELS,NILE PERCH,SNAKEHEAD,TILAPIA SMOKED',
 'CARP,CATFISH,EELS,SNAKEHEAD MEAT FRESH',
 'CARP,CATFISH,EELS,SNAKEHEAD,TILAPIA FROZEN NOT > 6.8KG',
 'CARP,CATFISH,EELS,SNAKEHEAD,TILAPIA MEAT FROZEN > 6.8KG',
 'CARP,CATFISH,EELS,SNAKEHEAD,TILAPIA MINCED FROZEN > 6.8KG',
 'CARP,CATFISH,EELS,SNAKEHEAD,TILAPIA SURIMI',
 'CATFISH (ICTALURUS) FILLET FRESH',
 'CATFISH (ICTALURUS) FILLET FROZEN',
 'CATFISH (ICTALURUS) FRESH',
 'CATFISH (ICTALURUS) FROZEN',
 'CATFISH (ICTALURUS) MEAT FRESH',
 'CATFISH (ICTALURUS,PANGASIUS,SILURUS) FRESH NOT > 6.8KG',
 'CATFISH (PANGASIUS) FILLET FRESH',
 'CATFISH (PANGASIUS) FILLET FROZEN',
 'CATFISH (PANGASIUS) FRESH',
 'CATFISH (PANGASIUS) FROZEN',
 'CATFISH (PANGASIUS) MEAT FRESH',
 'CATFISH (SILURIFORMES OTHER) FILLET FROZEN',
 'CATFISH (SILURUS,CLARIAS) FILLET FRESH',
 'CATFISH NSPF FILLET FROZEN',
 'CATFISH NSPF FRESH',
 'CATFISH NSPF FROZEN']

In [6]:
# Remove rows that contain 'CARP,CATFISH,EELS'
monthly_cleaned = monthly_trade[~monthly_trade['Product Name'].str.contains('CARP,CATFISH,EELS')]
monthly_cleaned.shape

(3165, 16)

In [7]:
# Get the indices of 2012 January and February data
index_2012 = monthly_cleaned[(monthly_cleaned['Year']==2012)&
                             (monthly_cleaned['Month number']<=2)].index
  
# Drop the corresponding rows
monthly_cleaned = monthly_cleaned.drop(index_2012).reset_index(drop=True)

# Get the indices of 2020 March to August data
index_2020 = monthly_cleaned[(monthly_cleaned['Year']==2020)&
                            (monthly_cleaned['Month number']>=3)].index
  
# Drop the corresponding rows
monthly_cleaned = monthly_cleaned.drop(index_2020).reset_index(drop=True)

monthly_cleaned

,Year,Month,Product Name,Country Name,Volume (kg),Value (USD),Trade Type,Census Country Code,Edible code,FAO Country Code,HTS Number,RFMO,Trade Associations,US Customs District Code,US Customs District Name,Month number
0,2012,March,CATFISH (PANGASIUS) FROZEN,VIETNAM,"73,936","204,302",IMP,5520,E,704,303240020,NaN,"APEC, ASEAN",27,"LOS ANGELES, CA",3
1,2012,March,CATFISH NSPF FROZEN,VIETNAM,"4,817","11,682",IMP,5520,E,704,303240050,NaN,"APEC, ASEAN",32,"HONOLULU, HI",3
2,2012,March,CATFISH (ICTALURUS) FILLET FRESH,CHINA,"15,436","137,700",IMP,5700,E,156,304320010,CCAMLR,"APEC, CCAMLR, ICCAT",13,"BALTIMORE, MD",3
3,2012,March,CATFISH (ICTALURUS) FILLET FRESH,CHINA,"14,764","108,795",IMP,5700,E,156,304320010,CCAMLR,"APEC, CCAMLR, ICCAT",39,"CHICAGO, IL",3
4,2012,March,CATFISH (PANGASIUS) FILLET FRESH,VIETNAM,"226,457","697,187",IMP,5520,E,704,304320020,NaN,"APEC, ASEAN",27,"LOS ANGELES, CA",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,2020,February,CATFISH (SILURIFORMES OTHER) FILLET FROZEN,VIETNAM,"947,022","2,832,494",IMP,5520,E,704,304620030,NaN,"APEC, ASEAN",14,"NORFOLK, VA",2
2922,2020,February,CATFISH (SILURIFORMES OTHER) FILLET FROZEN,VIETNAM,"31,298","86,250",IMP,5520,E,704,304620030,NaN,"APEC, ASEAN",17,"SAVANNAH, GA",2
2923,2020,February,CATFISH (SILURIFORMES OTHER) FILLET FROZEN,VIETNAM,"251,337","812,682",IMP,5520,E,704,304620030,NaN,"APEC, ASEAN",18,"TAMPA, FL",2
2924,2020,February,CATFISH (SILURIFORMES OTHER) FILLET FROZEN,VIETNAM,"763,386","2,314,817",IMP,5520,E,704,304620030,NaN,"APEC, ASEAN",27,"LOS ANGELES, CA",2
2925,2020,February,CATFISH (SILURIFORMES OTHER) FILLET FROZEN,VIETNAM,"395,071","1,212,080",IMP,5520,E,704,304620030,NaN,"APEC, ASEAN",52,"MIAMI, FL",2

In [8]:
# Save the cleaned dataset
monthly_cleaned.to_csv('monthly_cleaned.csv')